# .gitignore

# Ignoruj pliki wygenerowane przez IDE
.idea/

# Ignoruj pliki kompilacji i katalogi build
build/
target/

# Ignoruj pliki wygenerowane przez systemy operacyjne
.DS_Store
Thumbs.db

# Ignoruj pliki wygenerowane przez narzędzia budujące
.gradle/
out/
bin/

# Ignoruj pliki wygenerowane przez systemy operacyjne Mac
*.swp
*~